{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Openstack</title>
{% endblock %}

{% block css %}
    <!--dynamic table-->
{#    <link href="{% static "js/advanced-datatable/css/demo_page.css" %}" rel="stylesheet" />#}
{#    <link href="{% static "js/advanced-datatable/css/demo_table.css" %}" rel="stylesheet" />#}
{#    <link rel="stylesheet" href="{% static "js/data-tables/DT_bootstrap.css" %}" />#}
{% endblock %}

{% block page-heading %}
<h3>
    Openstack <small>Subtext for header</small>
</h3>
<ul class="breadcrumb">
    <li class="active">Hypervisors </li>
</ul>
{% endblock %}

{% block page-body %}
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Openstack Hypervisors
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table  class="display table table-bordered table-striped" id="dynamic-table">
                        <thead>
                            <tr>
                                <th class="center">Hostname</th>
                                <th class="center">Type</th>
                                <th class="center">IP</th>
                                <th class="center">VCpu (usage / total)</th>
                                <th class="center">Memory (usage / total)</th>
                                <th class="center">Disk (usage / total)</th>
                                <td class="center">running_vms</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hypervisor in hypervisors%}
                                <tr class="gradeX">
                                    <td class="center"><a href="{% url 'newtouch:openstack:openstack_hypervisors_detail' agent_pk hypervisor.hypervisor_hostname %}">{{ hypervisor.hypervisor_hostname }}</a></td>
                                    <td class="center">{{ hypervisor.hypervisor_type }}</td>
                                    <td class="center">{{ hypervisor.host_ip }}</td>
                                    <td class="center">{{ hypervisor.vcpus_used }} / {{ hypervisor.vcpus }}</td>
                                    <td class="center">{{ hypervisor.memory_used | filesizeformat }} / {{ hypervisor.memory | filesizeformat }}</td>
                                    <td class="center">{{ hypervisor.local_used | filesizeformat }} / {{ hypervisor.local | filesizeformat }}</td>
                                    <td class="center">{{ hypervisor.running_vms }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Openstack Nova Services
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table  class="display table table-bordered" id="hidden-table-info">
                        <thead>
                            <tr>
                                <th>Host</th>
                                <th>Service</th>
                                <th>Zone</th>
                                <th>Status</th>
                                <th>State</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services%}
                                <tr class="gradeX">
                                    <td>{{ service.host }}</td>
                                    <td>{{ service.service }}</td>
                                    <td>{{ service.zone }}</td>
                                    <td>{{ service.status }}</td>
                                    <td>{{ service.state }}</td>
                                    <td>{{ service.reason }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block js %}
    <!--dynamic table-->
{#    <script type="text/javascript" language="javascript" src="{% static "js/advanced-datatable/js/jquery.dataTables.js"%}"></script>#}
{#    <script type="text/javascript" src="{% static "js/data-tables/DT_bootstrap.js" %}"></script>#}
{% endblock %}