{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Openstack</title>
{% endblock %}

{% block css %}
    <!--dynamic table-->
{#    <link href="{% static "js/advanced-datatable/css/demo_page.css" %}" rel="stylesheet" />#}
{#    <link href="{% static "js/advanced-datatable/css/demo_table.css" %}" rel="stylesheet" />#}
{#    <link rel="stylesheet" href="{% static "js/data-tables/DT_bootstrap.css" %}" />#}
{% endblock %}

{% block page-heading %}
<h3>
    Openstack <small>Subtext for header</small>
</h3>
<ul class="breadcrumb">
    <li class="active">OpenStack </li>
</ul>
{% endblock %}

{% block page-body %}
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Openstack Agent
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table  class="display table table-bordered table-striped" id="dynamic-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Hostname</th>
                                <th>Port</th>
                                <td>Update Time</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeX">
                                {% for platform in object_list%}
                                    <td><a href="{% url 'newtouch:openstack:openstack_hypervisors' platform.id %}">{{ platform.name }}</a></td>
                                    <td>{{ platform.hostname }}</td>
                                    <td>{{ platform.port }}</td>
                                    <td>{{ platform.update_time }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block js %}
    <!--dynamic table-->
{#    <script type="text/javascript" language="javascript" src="{% static "js/advanced-datatable/js/jquery.dataTables.js"%}"></script>#}
{#    <script type="text/javascript" src="{% static "js/data-tables/DT_bootstrap.js" %}"></script>#}
{% endblock %}