{% extends 'base.html' %}
{% load staticfiles %}
{% load dict_action %}

{% block title %}
    <title>Openstack</title>
{% endblock %}

{% block css %}
    <!--dynamic table-->
{#    <link href="{% static "js/advanced-datatable/css/demo_page.css" %}" rel="stylesheet" />#}
{#    <link href="{% static "js/advanced-datatable/css/demo_table.css" %}" rel="stylesheet" />#}
{#    <link rel="stylesheet" href="{% static "js/data-tables/DT_bootstrap.css" %}" />#}
{% endblock %}

{% block page-heading %}
<h3>
    Openstack <small>Subtext for header</small>
</h3>
<ul class="breadcrumb">
    <li class="active">Instances </li>
</ul>
{% endblock %}

{% block page-body %}
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Openstack Instances
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table  class="display table table-bordered table-striped" id="dynamic-table">
                        <thead>
                            <tr>
                                <th>name</th>
{#                                <th>UUID</th>#}
                                <th>Guest Agent</th>
                                <th>Memory</th>
                                <th>Disk Speed(Read/Write)</th>
                                <th>Disk Total(Read/Write)</th>
                                <th>Network(Read/Write)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instance in instances %}
                                <tr class="gradeX">
                                    {% if instance.return_data %}
                                        <td><a href="#">{{ instance.name }}</a></td>
                                    {% else %}
                                        <td>{{ instance.name }}</td>
                                    {% endif %}
{#                                    <td>{{ instance.uuid }}</td>#}
                                    <td>{{ instance.return_data }}</td>
                                    {% if instance.return_data %}
                                        <td>{{ instance.memstat | memory_dict }}</td>
                                        <td>{{ instance.diskstat | disk_speed_list | linebreaks}}</td>
                                        <td>{{ instance.diskstat | disk_total_list | linebreaks}}</td>
                                        <td>{{ instance.netstat | network_total_list | linebreaks}}</td>
                                    {% else %}
                                        <td class="center"> - / - </td>
                                        <td class="center"> - </td>
                                        <td class="center"> - </td>
                                        <td class="center"> - </td>
                                    {% endif %}
{#                                    <td class="center">{{ instance.memstat }}</td>#}
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </section>
    </div>
</div>
{% endblock %}


{% block js %}
    <!--dynamic table-->
{#    <script type="text/javascript" language="javascript" src="{% static "js/advanced-datatable/js/jquery.dataTables.js"%}"></script>#}
{#    <script type="text/javascript" src="{% static "js/data-tables/DT_bootstrap.js" %}"></script>#}
{% endblock %}