{% extends 'base.html' %}
{% block title %}
    <title>Server-Manager</title>
{% endblock %}
{% if form.error %}
<script>

</script>
{% endif %}
{% block page-heading %}
    <h3>
        Server
    </h3>
    <ul class="breadcrumb">
        <li class="active">
            Manager
        </li>
    </ul>
{% endblock %}
{% block page-body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
{#                <input type="button" data-toggle="modal" data-target="#HypervisorsModal" value="Add" class="btn btn-success ">#}
                <a role="button" href="{% url 'newtouch:server:server_manager_add' %}" class="pull-right btn btn-primary">Add</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading custom-tab">
                    <ul class="nav nav-tabs">
                        {% if tag %}
                            {% for idc in idcs %}
                            <li class="{% if idc.name == tag %}active{% endif %}">
                                <a href="?tag={{ idc.name }}" >{{ idc.name }}</a>
                            </li>
                            {% endfor %}
                        {% else %}
                            {% for idc in idcs %}
                            <li class="{% if idc.name == 'ShangHai' %}active{% endif %}">
                                <a href="?tag={{ idc.name }}" >{{ idc.name }}</a>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="adv-table">

                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <table class="display table table-bordered table-striped" id="dynamic-table">
                                <thead>
                                    <tr role="row">
                                        <th>ID</th>
                                        <th>Hostname</th>
                                        <th>Update Time</th>
                                        <th>SNMP</th>
                                        <th>SSH</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    {% for server in servers %}
                                        <tr class="gradeX odd">
                                            <td>{{ server.id }}</td>
                                            <td>{{ server.hostname }}</td>
                                            <td>{{ server.create_time }}</td>
                                            <td>{{ server.snmp_commit }}</td>
                                            <td>{{ server.ssh_username }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a role="button" href={% url 'newtouch:server:server_manager_edit'  server.id %} class="btn btn-info">Edit</a>
                                                    <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul aria-labelledby="btnGroupDrop1" role="menu" class="dropdown-menu">
                                                        <li><a href={% url 'newtouch:server:server_manager_delete' server.id %}>Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}