{% extends 'base.html' %}
{% block title %}
    <title>Hypervisors-Monitor</title>
{% endblock %}

{% block page-heading %}
    <h3>
        Server
    </h3>
    <ul class="breadcrumb">
        <li class="active">
            Monitor
        </li>
    </ul>
{% endblock %}
{% block page-body %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading custom-tab ">
                    <ul class="nav nav-tabs">
                        {% if tag %}
                            {% for idc in idcs %}
                            <li class="{% if idc.name == tag %}active{% endif %}">
                                <a href="?tag={{ idc.name }}" idc = {{ idc.id }}>{{ idc.name }}</a>
                            </li>
                            {% endfor %}
                        {% else %}
                            {% for idc in idcs %}
                            <li class="{% if idc.name == 'ShangHai' %}active{% endif %}">
                                <a href="?tag={{ idc.name }}" idc = {{ idc.id }}>{{ idc.name }}</a>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                                <thead>
                                    <tr role="row">
                                        <th>Hostname</th>
                                        <th>CPU Usage</th>
                                        <th>CPU Load</th>
                                        <th>Memory Usgae</th>
                                        <th>Net In/Out</th>
                                        <th>Disk</th>
                                        <th>Process Num</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    {% for host in hosts %}
                                        <tr class="gradeX odd">
                                        <td><a class="host_ip" agent="{{ host.agent }}">{{ host.server }}</a></td>
                                        {% if host.error %}
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> -/- </td>
                                            <td> -/- </td>
                                            <td> - </td>
                                        {% else %}
                                            <td>{{ host.cpuUsage }}</td>
                                            <td>{{ host.cpuLoad }}</td>
                                            <td>{{ host.memUsage }}</td>
                                            <td>{{ host.inTotal }} / {{ host.outTotal }}</td>
                                            <td>{{ host.diskUsed }} / {{ host.diskTotal }}</td>
                                            <td>{{ host.procNumb }}</td>
                                        {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}