{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Hypervisors-Manager</title>
{% endblock %}
{% block page-heading %}
    <h3>
        Hypervisors 
    </h3>
    <ul class="breadcrumb">
        <li>
            <!-- <a href="#">table</a> -->
        </li>
{#        <li class="active"> My Dashboard </li>#}
    </ul>
{% endblock %}
{% block page-body %}
    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    CPU Usage
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="cpuUsage" width="480" height="300"></canvas>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                     Memory Usage
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="memUsage" width="480" height="300"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    CPU Load
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="cpuLoad" width="480" height="300"></canvas>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                     Process Number
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="procNumb" width="480" height="300"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}



{% block boot-js %}
<script src="{% static "js/chart-js/hyperchart.js" %}"></script> 
{% endblock %}



