{% extends 'base.html' %}
{% block title %}
    <title>Hypervisors-Collertor</title>
{% endblock %}
{% if form.error %}
<script>

</script>
{% endif %}
{% block page-heading %}
    <h3>
        Hypervisors
    </h3>
    <ul class="breadcrumb">
        <li class="active">
           Collertor
        </li>
    </ul>
{% endblock %}
{% block page-body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Collertor
                    <span class="pull-right">
                        <a role="button" href="{% url 'newtouch:hypervisors:hypervisors_collector_add' %}" class="btn btn-primary">Add</a>
                     </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting">ID</th>
                                        <th class="sorting">name</th>
                                        <th class="sorting">user</th>
                                        <th class="sorting">key</th>
                                        <th class="sorting">hostname</th>
                                        <th class="sorting">port</th>
                                        <th class="sorting">update_time</th>
                                        <th class="sorting">status</th>
                                        <th class="sorting">Action</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    {% for collertor,status in collertors %}
                                        <tr class="gradeX odd">
                                            <td class="sorting_1">{{ collertor.id }}</td>
                                            <td class=" ">{{ collertor.name }}</td>
                                            <td class=" ">{{ collertor.user }}</td>
                                            <td class=" ">{{ collertor.key }}</td>
                                            <td class=" ">{{ collertor.hostname }}</td>
                                            <td class=" ">{{ collertor.port }}</td>
                                            <td class=" ">{{ collertor.update_time }}</td>
                                            <td class=" ">{{ status }}</td>
                                            <td class=" ">
                                                <div class="btn-group">
                                                    <a role="button" href={% url 'newtouch:hypervisors:hypervisors_collector_delete'  collertor.id %} class="btn btn-danger">Delete</a>
{#                                                    <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">#}
{#                                                        <span class="caret"></span>#}
{#                                                        <span class="sr-only">Toggle Dropdown</span>#}
{#                                                    </button>#}
{#                                                    <ul aria-labelledby="btnGroupDrop1" role="menu" class="dropdown-menu">#}
{#                                                        <li><a href={% url 'newtouch:hypervisors:hypervisors_manager_delete' hypervisor.id %}>Delete</a></li>#}
{#                                                    </ul>#}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </div>
{% endblock %}