{% extends 'base.html' %}
{% block title %}
    <title>Hypervisors-Collertor</title>
{% endblock %}
{% if form.error %}
<script>

</script>
{% endif %}
{% block page-heading %}
    <h3>
        Hypervisors
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href={% url "newtouch:hypervisors:hypervisors_manager" %}>Manager</a>
        </li>
        <li class="active">
           Collertor
        </li>
    </ul>
{% endblock %}
{% block page-body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Collertor
                    <span class="tools pull-right">
                        <a role="button" href="{% url 'newtouch:hypervisors:hypervisors_manager_add' %}" class="pull-right btn btn-primary">Add</a>
                     </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" role="columnheader" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1">ID</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Hostname</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Update Time</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">SNMP</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">SSH</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Action</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    {% for hypervisor in hypervisors %}
                                        <tr class="gradeX odd">
                                            <td class="sorting_1">{{ hypervisor.id }}</td>
                                            <td class=" ">{{ hypervisor.hostname }}</td>
                                            <td class=" ">{{ hypervisor.create_time }}</td>
                                            <td class=" ">{{ hypervisor.snmp_commit }}</td>
                                            <td class=" ">{{ hypervisor.ssh_username }}</td>
                                            <td class=" ">
                                                <div class="btn-group">
                                                    <a role="button" href={% url 'newtouch:hypervisors:hypervisors_manager_edit'  hypervisor.id %} class="btn btn-info">Edit</a>
                                                    <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul aria-labelledby="btnGroupDrop1" role="menu" class="dropdown-menu">
                                                        <li><a href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </div>
{% endblock %}