{% extends 'base.html' %}

{% block title %}
    <title>
        Edit Collertor
    </title>
{% endblock %}

{% block page-heading %}
    <h3>
        Hypervisors
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href={% url "newtouch:hypervisors:hypervisors_collector" %}>Collertor</a>
        </li>
        <li class="active">
           Edit Collertor
        </li>
    </ul>
{% endblock %}
{% block page-body %}
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Add
            </header>
            <div class="panel-body">
                <form role="form" action="{% url "newtouch:hypervisors:hypervisors_manager_edit" form.id.value  %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ form.id.label }}</label>
                        {{ form.id }}
                        {{ form.id.errors }}
                        {% for error in form.id.errors %}
                            <div class="has-error">
                                <p class="help-block">{{ error }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ form.hostname.label }}</label>
                        {{ form.hostname }}
                        {{ form.hostname.errors }}
                        {% for error in form.hostname.errors %}
                            <div class="has-error">
                                <p class="help-block">{{ error }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">{{ form.location.label }}</label>
                        {{ form.location }}
                        {% for error in form.location.errors %}
                            <div class="has-error">
                                <p class="help-block">{{ error }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">{{ form.user.label }}</label>
                        {{ form.user }}
                        {% for error in form.user.errors %}
                            <div class="has-error">
                                <p class="help-block">{{ error }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">{{ form.collector.label }}</label>
                        {{ form.collector }}
                        {% for error in form.collector.errors %}
                            <div class="has-error">
                                <p class="help-block">{{ error }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">{{ form.rules.label }}</label>
                        {{ form.rules }}
                        {% for error in form.rules.errors %}
                            <div class="has-error">
                                <p class="help-block">{{ error }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">{{ form.snmp_version.label }}</label>
                        {{ form.snmp_version }}
                        {% for error in form.snmp_version.errors %}
                            <div class="has-error">
                                <p class="help-block">{{ error }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">{{ form.snmp_commit.label }}</label>
                        {{ form.snmp_commit }}
                        {% for error in form.snmp_commit.errors %}
                            <div class="has-error">
                                <p class="help-block">{{ error }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">{{ form.ssh_username.label }}</label>
                        {{ form.ssh_username }}
                        {% for error in form.ssh_username.errors %}
                            <div class="has-error">
                                <p class="help-block">{{ error }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">{{ form.ssh_password.label }}</label>
                        {{ form.ssh_password }}
                        {% for error in form.ssh_password.errors %}
                            <div class="has-error">
                                <p class="help-block">{{ error }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">{{ form.ssh_password.label }}</label>
                        {{ form.ssh_password_confirm }}
                        {% for error in form.ssh_password_confirm.errors %}
                            <div class="has-error">
                                <p class="help-block">{{ error }}</p>
                            </div>
                        {% endfor %}
                    </div>

                    <button type="submit" class="btn btn-primary center-block">Submit</button>
                </form>
            </div>
        </section>
    </div>
    <div class="col-lg-3"></div>
</div>
{% endblock %}
