{% extends 'base.html' %}
{% block title %}
    <title>Hypervisors-Collertor</title>
{% endblock %}
{% if form.error %}
<script>

</script>
{% endif %}
{% block page-heading %}
    <h3>
        Hypervisors
    </h3>
    <ul class="breadcrumb">
{#        <li>#}
{#            <a href={% url "newtouch:hypervisors:hypervisors_collector" %}>Collertor</a>#}
{#        </li>#}
        <li class="active">
           Collertor
        </li>
    </ul>
{% endblock %}
{% block page-body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Collertor
                    <span class="tools pull-right">
                        <a role="button" href="{% url 'newtouch:hypervisors:hypervisors_collector_add' %}" class="pull-right btn btn-primary">Add</a>
                     </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" role="columnheader" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1">ID</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">name</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">user</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">key</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">hostname</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">port</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">update_time</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    {% for collertor in collertors %}
                                        <tr class="gradeX odd">
                                            <td class="sorting_1">{{ collertor.id }}</td>
                                            <td class=" ">{{ collertor.name }}</td>
                                            <td class=" ">{{ collertor.user }}</td>
                                            <td class=" ">{{ collertor.key }}</td>
                                            <td class=" ">{{ collertor.hostname }}</td>
                                            <td class=" ">{{ collertor.port }}</td>
                                            <td class=" ">{{ collertor.update_time }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </div>
{% endblock %}