{% extends 'base.html' %}
{% block title %}
    <title>Nova Services</title>
{% endblock %}

{% block page-heading %}
    <h3>
        Nova Services
    </h3>
    <ul class="breadcrumb">
        <li class="active">
            Openstack
        </li>
    </ul>
{% endblock %}
{% block page-body %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading custom-tab ">
                    <ul class="nav nav-tabs">
                        {% if tag %}
                            {% for openstack in openstacks %}
                            <li class="{% if openstack.id == tag %}active{% endif %}">
                                <a href="?tag={{ openstack.id }}">{{ openstack.name }}</a>
                            </li>
                            {% endfor %}
                        {% else %}
                            {% for openstack in openstacks %}
                            <li class="{% if openstack.id == 1 %}active{% endif %}">
                                <a href="?tag={{ openstack.id }}">{{ openstack.name }}</a>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                                <thead>
                                    <tr role="row">
                                        <th>Host</th>
                                        <th>Service</th>
                                        <th>Zone</th>
                                        <th>Status</th>
                                        <th>State</th>
                                        <th>Reason</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    {% for service in nova_services%}
                                        <tr class="gradeX">
                                            <td>{{ service.host }}</td>
                                            <td>{{ service.service }}</td>
                                            <td>{{ service.zone }}</td>
                                            <td>{{ service.status }}</td>
                                            <td>{{ service.state }}</td>
                                            <td>{{ service.reason }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}