<ul class="nav nav-pills nav-stacked custom-nav">
    <li class="{% if request.path == '/' %}active{% endif %}"><a href={% url 'newtouch:overview:index' %}><i class="fa fa-home"></i> <span>Overview</span></a></li>
    <li class="menu-list {% if '/hypervisors/' in request.path %}active{% endif %}"><a href=""><i class="fa fa-laptop"></i> <span>Hypervisors</span></a>
        <ul class="sub-menu-list">
            <li class=" {% if '/hypervisors/overview/' in request.path %}active{% endif %}"><a href={% url "newtouch:hypervisors:hypervisors_overview" %}> Overview</a></li>
            <li class=" {% if '/hypervisors/monitor/' in request.path %}active{% endif %}"><a href={% url "newtouch:hypervisors:hypervisors_monitor" %}> Monitor</a></li>
            <li class=" {% if '/hypervisors/manager/' in request.path %}active{% endif %}"><a href={% url "newtouch:hypervisors:hypervisors_manager" %}> Manager</a></li>
            <li class=" {% if '/hypervisors/rules/' in request.path %}active{% endif %}"><a href={% url "newtouch:hypervisors:hypervisors_rules" %}> Rules</a></li>
            <li class=" {% if '/hypervisors/collector/' in request.path %}active{% endif %}"><a href={% url "newtouch:hypervisors:hypervisors_collector" %}> Collectors</a></li>
        </ul>
    </li>

    <li class="menu-list {% if '/openstack/' in request.path %}active{% endif %}"><a href=""><i class="fa fa-cloud"></i> <span>OpenStack</span></a>
        <ul class="sub-menu-list">
            <li class="{% if '/openstack/index/' in request.path %}active{% endif %}"><a href="{% url 'newtouch:openstack:openstack_index' %}"> Openstack Agent</a></li>
            <li class="{% if '/openstack/hypervisors/' in request.path %}active{% endif %}"><a href="{% url 'newtouch:openstack:openstack_hypervisors' 1 %}"> Hypervisors</a></li>
            <li class="{% if '/openstack/rules/' in request.path %}active{% endif %}"><a href="#"> Rules</a></li>
        </ul>
    </li>
    <li class="menu-list"><a href=""><i class="fa fa-sitemap"></i> <span>Network</span></a>
        <ul class="sub-menu-list">
            <li><a href="#"> Overview</a></li>
            <li><a href="#"> Monitor</a></li>
            <li><a href="#"> Manager</a></li>
            <li><a href="#"> Rules</a></li>
        </ul>
    </li>
    <li>
        <a href="">
            <i class="fa fa-ban"></i><span>Rules</span>
        </a>
    </li>
</ul>